
@media (max-width: 575.98px) {
	.wrap{padding: 20px 0;}
	.banner-content{padding-left: 0;}
	.get-app > .get-app-img{    width: 130px}
	.banner-mobile{padding-top: 20px;}

	/*how its work*/
	.how-works:before{display: none;}
	.how-works-bg{float: none; width: 100%;}
	.how-works-bg:after{display: none;}
	.how-works{height: auto; background: #2e5f66; background-image: none;}
	.how-works .how-work-block{ width: 100%; padding: 20px 0; color: #fff; margin: 0; padding-left: 0; max-width: 400px;
	  margin: 0 auto;  padding: 20px;}

	/*localheroes*/
	.localheroes:after,
	.localheroes:before {display: none;}
	.character-block{padding-top: 10px; background-color: #fff; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 1px 3px #ddd;} 
	.character-block .content{padding: 10px; background-color: #fff5f5; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

	/*Map*/
	.map .location .search-field .search-content{padding: 40px 0;}

	/*footer*/
	.footer-content{padding: 14px 0 0px 0px;}
	.footer-logo{padding-top: 30px;}
	.contact-details{min-height: 290px;}
	.contact-details li{font-size:18px;}

}

@media (min-width: 576px) and (max-width: 767.98px) { 

	/*how its work*/
	.how-works{height: 420px;}
	
	.how-works:before{display: none;}
	.how-works-bg{float: none; width: 100%;}

  	/*localheroes*/
	.localheroes:after,
	.localheroes:before {display: none;}
	.character-block{padding-top: 10px; background-color: #fff; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 1px 3px #ddd;} 
	.character-block .content{padding: 10px; background-color: #fff5f5; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

	.how-works .how-work-block{background-color: #2e5f66;padding: 20px;}

}

@media (min-width: 768px) and (max-width: 991.98px) {
	.how-works-bg{width: 68%;}
	/*get app*/
	.get-app > .get-app-img{width: 155px;}

	/*how works*/
	.how-works .how-work-block{padding-left: 20px;}
	.how-works:after{display: none;}

	/*localheroes*/
	.localheroes:after{    bottom: 206px;}
	.localheroes:before{bottom: 210px;}

}
