# API repository
api/

# Unknown what this was for
tenkate/

# Installed tools
phpMyAdmin/

# Old backups
backup/
tenkate-mart-backup/
index-20190517.php

# Transferred files
*.csv
*.sql

# Script for handling QR codes?
csv.php

# Scripts for handling mail?
notificationMail/

# Script for generating promo-codes?
promo_generation.php


